<md-content layout="column" layout-fill layout-align="center center">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button 
				ng-click="toggleMenu()"
	            class="md-icon-button" 
	            aria-label="Menu">
	            <i class="fa fa-bars" aria-hidden="true"></i>
	        </md-button>
	        
			<!-- NOME DO FORMULARIO -->
			<h2 class="md-flex">INICIO</h2>
		</div>
	</md-toolbar>
	<div flex layout="column" layout-align="center center">
		<h3>Bem vindo ao Financeiro</h3>
		<p>Utilize o menu lateral para navegar pelos formulários</p>
	</div>
</md-content>